
/* --- Import Fonts --- */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); /*.main-container *h1*/
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap'); /*.main-container h2*/
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap'); /*.main-container p*/


/* --- body settings --- */

body{
/*background: linear-gradient(to bottom, #240b36, #c31432);
background-repeat: no-repeat;
background-size: cover;*/
background-color: antiquewhite;
margin: 0;
width: 100vw;
height: 100vh;
}

/* --- main cointainer div --- */
/*landing-page*/

.landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 20%;
}
.players {
    width: 100%;
}


.main-container{
    width: 70%;
    margin: auto;
}

.main-container h1 {
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

.main-container h2 {
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    font-size: 1.25em;
    text-align:left;
}


.main-container p {
    font-family: 'Gloria Hallelujah', cursive;
    text-align:left;
}

/* --- game div --- */

.game-div {
    display: block;
   margin: auto;
    background-color: antiquewhite;

}